VITE_AIRTEL_CLIENT_ID=
VITE_AIRTEL_CLIENT_SECRET=
VITE_API_BASE_URL=
VITE_DGATEWAY_PUBLIC_KEY=
VITE_DGATEWAY_SECRET_KEY=
VITE_FLUTTERWAVE_PUBLIC_KEY=
VITE_FLUTTERWAVE_SECRET_KEY=
VITE_INTASEND_PUBLIC_KEY=
VITE_INTASEND_SECRET_KEY=
VITE_KORAPAY_PUBLIC_KEY=
VITE_KORAPAY_SECRET_KEY=
VITE_MEGAPAY_PUBLIC_KEY=
VITE_MEGAPAY_SECRET_KEY=
VITE_MPESA_CONSUMER_KEY=
VITE_MPESA_CONSUMER_SECRET=
VITE_MPESA_PASSKEY=
VITE_MPESA_SHORTCODE=
VITE_MTN_MOMO_API_KEY=
VITE_MTN_MOMO_API_SECRET=
VITE_PAWAPAY_API_KEY=
VITE_PAWAPAY_SECRET_KEY=
VITE_PESAFLUX_API_KEY=
VITE_PESAFLUX_SECRET_KEY=
VITE_PESAPAL_CONSUMER_KEY=
VITE_PESAPAL_CONSUMER_SECRET=
VITE_TENZ_API_KEY=
VITE_TENZ_SECRET_KEY=